<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Início</title>
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
</head>
<body th:attr="data-session-timeout=${sessionTimeout}">
<div class="container">
    <h2>Bem-vindo</h2>

    <p>Tempo restante para expiração da sessão: <span id="timeoutCountdown"></span></p>

    <!-- Menu Horizontal -->
    <nav class="menu">
        <a th:href="@{/pagina1}">Página 1</a>
        <a th:href="@{/pagina2}">Página 2</a>
        <a th:href="@{/pagina3}">Página 3</a>
    </nav>

    <!-- Novo Nav -->
    <nav class="corpo">
        <input type="text" placeholder="Grave algo em Cookies.." id="inputValue">
        <button id="addButton">Adicionar</button>
    </nav>

    <!-- Botão de Logout -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

<!-- Script externo colocado no final do body -->
<script src="/js/contador.js"></script>
<script src="/js/cookies.js"></script>

</body>
</html>
